DB_SERVER=MekSoftServer
DB_PORT=1433
DB_USER=MCP_ReadOnly
DB_PASSWORD=your_password_here

DB1_NAME=MekSoftDb1
DB2_NAME=MekSoftDb2
DB3_NAME=MekSoftDb3

DB_ENCRYPT=true
DB_TRUST_CERT=true

PORT=3001
POLL_INTERVAL_MS=60000
DATA_START_DATE=2025-10-01
